#renderPreviewByName {
  .add-image {
    &.image__empty {
      border: 1px dashed #999999;
    }
  }

  .top-banner__section-image {
    padding: 10px;

    &.add-image {
      width: auto !important;
      display: inline-block !important;
    }

    .add-image__image {
      height: 100% !important;
      object-fit: cover !important;
    }
  }

  .btn-delete {
    background-color: #000000;
  }

  .add-image {
    width: 100%;
    height: auto;
    position: relative;

    button {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }
  }
}
