@import "../../../assets/scss/variables/variables";
.custom-header-footer {
  width: 100%;
  padding: 10px 0;

  .btn {
    &-black {
      background: $main-color;
      color: #ffffff;
      text-transform: uppercase;
      margin-right: 20px;
      @media (max-width: 768px) {
        font-size: 12px;
      }

      &:last-child {
        margin-right: 2rem;
        @media (max-width: 768px) {
          margin-right: 1rem;
        }
      }

      &:hover {
        color: #ffffff;
      }
    }
  }
}

.custom-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  width: calc(100vw - (100vw - 100%) - calc(2rem * 2));
  box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1);
  border-radius: 0.25rem;
  padding-top: 0.857rem;
  padding-bottom: 0.857rem;
  @media (max-width: 768px) {
    width: calc(100% - 40px);
  }

  &-container {
    position: fixed;
    top: 60px;
    z-index: 1000;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, 0);
    background-color: #F5F5F5;
    padding: 0;
    margin-top: 25px;
  }

  .custom-header__title {
    padding-left: 2rem;
    font-weight: bold;
    @media (max-width: 768px) {
      padding-left: 1rem;
      display: none;
    }

    &-link {
      font-size: 16px;
      @media (max-width: 786px) {
        font-size: 12px;
      }

      &.link {
        cursor: pointer;
        color: $main-color;
      }
    }
  }
  .container-btn {
    width: auto;
    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .breadcrumb {
    padding: 0.3rem 0;
  }

  .breadcrumb-item {
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
      background-size: 20px !important;
    }
  }

  &.no-position-fixed {
    position: static;
    margin-bottom: 2rem;
  }
}

.custom-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #ffffff;
  box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1);
  border-radius: 0.25rem;
  padding-top: 0.857rem;
  padding-bottom: 0.857rem;
  margin-left: auto;
  margin-right: auto;

  &-container {
    width: 100%;
    //position: absolute;
    //bottom: 0;
  }
}
