.rdt {
  &_Table {
    border-radius: 4px;
    border: 1px solid #ededed;
    min-height: calc(100vh - (2rem + 4.45rem * 2 + 1.3rem) - 5.5rem - 202px);

    img {
      object-fit: cover;
    }

    &Row {
      padding: 10px 25px;
      box-sizing: border-box;

      &:hover {
        background-color: #F5F5F5;
      }

      &:last-child {
        border-radius: 4px;
      }
    }

    &Cell {
      padding: 0 !important;

      &:first-child {
        padding-left: 0 !important;
      }

      &:nth-last-child(1) {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 0 !important;
      }

      .badge-pill {
        padding: 7px 18px;
        font-weight: 400;
      }
    }

    &Col {
      padding: 0 !important;

      &:nth-last-child(1) {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &_Sortable {
        div {
          white-space: nowrap;
          font-size: 14px;
          text-transform: none !important;
        }
      }
    }

    &Head {
      &Row {
        background-color: transparent !important;
        height: 47px !important;
        border-top: none !important;
        padding: 0 25px !important;

        * {
          font-weight: bold;
        }
      }
    }
  }
}

.react-dataTable {
  padding: 0 25px;
}

header.hlidmt {
  padding: 0;
}

.icdHOq {
  padding: 25px 0;
  margin: auto;
}

.min-height-auto {
  .rdt_Table {
    min-height: auto;
  }
}

.table-bm {
  .rdt_TableRow {
    padding: 10px 20px;
  }
  .cmbwYX {
    padding: 0 16px;
    .hzqQUj {
      padding: 0;
    }
  }
  .sc-AxhCb.sc-fzoiQi, .sc-AxhCb.sc-AxmLO {
    display: flex;
  }
}
.table-no-padding {
  .rdt_TableRow {
    padding: 10px 20px;
  }
  .dVifjY {
    margin-right: 5px;
    flex: 0 0 30px;
  }
  .cmbwYX {
    margin-right: 5px;
    flex: 0 0 30px;
  }
  .cPZdFe {
    min-height: 30px;
  }
  .rdt_TableCell {
    height: 40px !important;
  }
}
