@import "../../assets/scss/variables/variables";
.footer-product {
  position: fixed;
  width: 100%;
  background: #ffffff;
  bottom: 0;
  z-index: 1000;
  left: 0;
  padding: 10px 0;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
}

.btn {
  &-black {
    background: $main-color;
    color: #ffffff;
    text-transform: uppercase;
    margin-right: 35px;

    &:hover {
      color: #ffffff;
    }
  }
}
