/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald/static/Oswald-Bold.ttf');
}

@font-face {
  font-family: 'Open-Sans' !important;
  src: url('../fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf');
}

* {
  font-family: Open-Sans, sans-serif;
}

.white-space-nowrap {
  white-space: nowrap;
}

.text-underline {
  text-decoration: underline;
}

.form-control {
  border: 1px solid #999999;
}

.custom-switch {
  margin: 0;
}

.input-group {
  &-text {
    border: 1px solid #999999;
  }
}

.select {
  &__control {
    border: 1px solid #999999;
  }

  &__placeholder {
    white-space: nowrap;
  }
}

.position {
  &-right {
    &-0 {
      right: 0 !important;
    }
  }
}

.custom {
  &-control {
    cursor: pointer;

    &-label {
      cursor: pointer;
    }
  }
}

.cursor {
  &-pointer {
    cursor: pointer;
  }
}

.uppy-DragDrop {
  &-inner {
    height: 100%;
    padding: 0 !important;

    svg {
      display: none;
    }
  }
}

.container-fluid {
  padding: 5rem 2rem 0 2rem;
}

[data-col='1-column'] {

  .container-fluid {
    padding: 0;
  }

  .header-navbar-shadow {
    z-index: 0;
  }

  &.horizontal-layout .app-content.content {
    padding: calc(6rem + 70px) 2rem 0 2rem !important;
  }

  .custom-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - 16rem);
  }
}

.btn {
  padding: 7px 15px;
  font-size: 14px;
  font-weight: 500;
}

.app-ecommerce-details {
  min-height: calc(100vh - 201px);
  position: relative;
  padding-bottom: 90px !important;
}

.dropdown-menu .dropdown-item {
  width: 100%;
}

.no-data-component {
  user-select: none;

  img {
    height: 50px;
  }
}

.input-label {
  font-size: 16px;
  color: #000000;
  font-weight: 600;
  margin-bottom: 5px !important;
  padding-bottom: 0 !important;
}

.css-14jk2my-container {
  width: 100%;

  .css-1fhf3k1-control, .css-1rke6ms-control {
    background-color: transparent;
  }

  .css-107lb6w-singleValue {
    color: #000000;
  }

  .css-1hb7zxy-IndicatorsContainer {
    display: none;
  }
}

.screen-edit {
  input:disabled {
    background-color: #FAFAFA !important;
  }
}

.badge-light-yellow {
  background-color: rgba(239, 207, 19, 0.12);
  color: #919189;
}

.promotion-select {
  min-width: 200px;
}

.product-index-tag {
  position: absolute;
  bottom: 1px;
  right: 1px;
  min-width: 20px;
  height: 20px;
  min-height: 20px;
  text-align: center;
  background-color: #F5F5F5;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.btn-social-popup {
  transition: 0.3s;

  &:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    transition: 0.3s;
  }
}

iframe {
  //display: none;
}

.opacity-0 {
  opacity: 0 !important;
}

.w-0 {
  width: 0 !important;
}

.h-0 {
  height: 0 !important;
}

.text-link {
  color: #2672EC;
}

.w-fit-content {
  width: fit-content !important;
}
