.agent-information {
  .label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .sub-label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  input {
    &:disabled {
      border-color: #ebe9f1 !important;
      background-color: #FFFFFF;
    }
  }

  .agent-border {
    border-radius: 4px;
    border: 1px solid #EDEDED;
  }

  .agent-dataTable {
    width: 100% !important;

    .rdt_Table {
      min-height: 0 !important;
    }
  }

  .agent-select {
    width: 90%;
  }
}
.container-time {
  margin: 0 1rem 1rem;
  padding: 1rem;
  border: 1px solid;
  .timer {
    border-bottom: 3px solid #8d6752;
    width: fit-content;
    margin-bottom: 15px;
  }
  .timer-label {
    color: #8d6752;
    font-weight: bold;
    font-size: 16px;
  }
  &__item {
    border: 1px solid #000000;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    margin: 0 0 10px;
    transition: .3s;
    &:hover {
      border-color: rgba(141, 103, 82, 0.36);
      background: rgba(141, 103, 82, 0.36);
    }
    &.active {
      border-color: #8d6752;
      background: #8d6752;
      color: #ffffff;
    }
  }
}
