#accountContainer {
  .title {
    font-size: 14px;
    font-weight: 600;
  }
}

.table-permission {
  thead {
    tr {
      th {
        white-space: nowrap;
      }
    }
  }
}

.permission-dataTable {
  .rdt_TableCol {
    &:first-child {
      display: block !important;
    }

    div {
      text-transform: uppercase !important;
    }
  }

  .rdt_TableRow {
    align-items: center;

    &:nth-child(2n) {
      background-color: #F5F5F5;
    }
  }

  .rdt_TableCell {
    text-transform: capitalize;

    &:first-child {
      display: block !important;
    }
  }

  .permission-screen-dataTable {
    .rdt_Table {
      min-height: 1px !important;

      &Row {
        &:nth-child(2n) {
          background-color: #F9F9F9 !important;
        }

        button {
          opacity: 0 !important;
          cursor: default !important;
          pointer-events: none !important;
        }
      }
    }
  }
}
