.custom-dataTable {
  .rdt_Table {
    border: 1px solid #555555;
    border-radius: 5px;

    .icdHOq {
      margin: auto;
    }

    &Col, &Cell {
      white-space: nowrap;

      &:last-child {
        justify-content: flex-end;
        margin-right: 20px;
      }
    }

    &Row {
      padding: 4px 25px;
    }
  }

  .promotion-checkbox {
    width: 40px;

    .custom {
      &-control {
        &-label, &-input {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}