#pagination {
  .description-desktop {
    @media (max-width: 769px) {
      display: none !important;
    }
  }

  .react-paginate {
    @media (max-width: 769px) {
      max-width: 100%;
      overflow-x: auto;
      justify-content: flex-start !important;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}