.storeImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.storeImageContainer {
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
  position: relative;
}

.header {
  width: 100%;
  background: #FFFFFF;
  position: relative;
  z-index: 9;
  user-select: none;
  height: 82px;
  @media (max-width: 768px) {
    position: sticky;
    top: 0;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.menu {
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  height: 100%;

  &Item {
    transition: background-color .3s;
    display: flex;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    align-items: center;
    @media (max-width: 768px) {
      display: none;
    }

    .menuLink {
      padding: 0 15px;
      height: 100%;
      width: 100%;
      display: grid;
      place-items: center;
      color: #000000;
      text-decoration: none;
      background-color: transparent;
      border: none;
      font-size: 16px;
      text-transform: uppercase;
      cursor: pointer;
      @media (max-width: 768px) {
        padding: 0;
      }
    }

    &:hover, &.active {
      background-color: #F5F5F5;
      @media (max-width: 768px) {
        background-color: #FFFFFF;
      }
    }

    &.topLogo {
      padding: 0;

      @media (max-width: 768px) {
        display: flex;
        display: -webkit-flex;
        display: -webkit-box;
        display: -moz-flex;
        display: -moz-box;
        display: -ms-flexbox;
        padding: 0;
      }
      @media (max-width: 768px) {
        padding: 0;
      }

      .menuLink {
        padding: 21px 15.5px;

        &ShowOnDesktop {
          @media (max-width: 768px) {
            display: none;
          }
        }

        &ShowOnPhone {
          display: none;
          @media (max-width: 768px) {
            display: grid;
          }
        }

        img {
          width: 70px;
        }
      }
    }
  }
}

.dropdown {
  &Container {
    width: 100%;
    background-color: #F5F5F5;
  }

  &Content {
    padding: 24px 0;

    &Wrapper {
      display: flex;
      width: 100%;
    }

    &Col {
      width: 25%;
      position: relative;
      padding: 0 15px;
      height: auto;
      flex: 0 0 25%;

      &.doubleWidth {
        width: 50%;
        flex: 0 0 50%;
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 100%;
        background: #D9D9D9;
        width: 1px;
        height: 100%;
        transform: translateX(-50%);
      }

      &:nth-last-child(1) {
        &:before {
          display: none;
        }
      }

      &.noBorder {
        &:before {
          display: none;
        }
      }

      &.paddingNo {
        padding: 0;
      }
    }

    .groupTitle {
      font-size: 16px;
      margin-bottom: 10px;
      text-transform: uppercase;
      font-weight: bold;
      position: relative;
      color: #000000;

      &:before {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        background: #000000;
        top: calc(100% + 5px);
        left: 0;
      }
    }

    .childDetailTitle {
      font-size: 13px;
      color: #737373;

      span {
        display: block;
        font-size: 11px;
        line-height: 1;
      }
    }

    .productList {
      display: block;
      margin-top: 14px;

      .productItem {
        padding-top: 13px;
        display: flex;
        cursor: pointer;

        .productItemImageContainer {
          display: inline-block;
          padding: 2px;
          border: 1px solid #D0D0D0;
          border-radius: 50%;
          margin-right: 15px;
          height: 42px;
          width: 42px;
          transition: 0.3s;

          img {
            height: 36px;
            width: 36px;
            border-radius: 50%;
          }
        }

        &Name {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          font-size: 14px;
          color: rgba(0, 0, 0, 0.6);
          transition: 0.3s;
          width: 100%;
          height: 42px;
          line-height: 1.5;
          border-bottom: 1px solid rgba(61, 61, 61, .1);
          vertical-align: middle;

          span {
            font-size: 12px;
            color: #737373;
          }
        }

        &:hover {
          .productItemImageContainer {
            border-color: #000000;
          }

          .productItemName {
            width: 100%;
            color: #000000;
            border-color: #000000;
          }
        }
      }
    }

    .productGrid {
      display: flex;
      flex-wrap: wrap;

      .productItem {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-width: 50%;
        max-width: 50%;
        margin-top: 30px;
        padding: 0 15px;
        transition: 0.3s;
        position: relative;

        .subMenuItemDelete {
          position: absolute;
          top: 0;
          right: 0;
        }

        .productItemImageContainer {
          width: 76px;
          height: 76px;
          padding: 2px;
          border: 1px solid #D0D0D0;
          border-radius: 80px;
          transition: 0.3s;

          img {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            object-fit: contain;
            object-position: center;
          }
        }

        .productItemName {
          font-size: 14px;
          color: rgba(0, 0, 0, 0.6);
          text-align: center;
          margin-top: 10px;
          transition: 0.3s;
          height: 20px;
          width: 100%;
        }

        &:hover {
          border-color: #000000;

          .productItemImageContainer {
            border-color: #000000;
          }

          .productItemName {
            color: #000000;
          }
        }
      }
    }

    &Map {
      display: flex;
      flex-wrap: wrap;
      //justify-content: space-evenly;

      .mapContainer {
        flex: 0 0 25%;
        display: block;
        padding: 0 15px;
        box-sizing: border-box;
        width: 25%;
        height: auto;
        border: 1px solid transparent;
        transition: 0.3s;

        &:hover {
          border-color: #000000;
        }

        a {
          background-color: #FFFFFF;
          padding: 10px;
          text-decoration: none;
          display: block;
          width: 100%;
          height: 100%;
        }

        .mapFrame {
          width: 100%;

          iframe {
            width: 100%;
            aspect-ratio: 1/1;
          }
        }

        .mapName {
          margin-top: 10px;
          font-size: 14px;
          color: #000000;
          text-decoration: none;
        }
      }
    }

    .imageList {
      display: flex;
      display: -webkit-flex;
      display: -webkit-box;
      display: -moz-flex;
      display: -moz-box;
      display: -ms-flexbox;

      .image {
        display: block;
        margin-right: 22px;
      }
    }

    .subMenuList {
      display: flex;
      display: -webkit-flex;
      display: -webkit-box;
      display: -moz-flex;
      display: -moz-box;
      display: -ms-flexbox;
      justify-content: center;
    }
  }
}

.subMenu {
  width: 100%;
  padding: 0 15px;


  &Title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  &Item {
    font-size: 16px;
    text-decoration: none;
    color: #000000;
    line-height: 1.5;
    display: block;

    &Button {
      cursor: pointer;
    }
  }
}

.imagesContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.productLevels {
  width: 100%;

  .productLevelTitle {
    font-size: 16px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    color: #000000;
    padding-top: 20px;
    display: inline-block;

    &:before {
      content: '';
      position: absolute;
      height: 1px;
      width: 100%;
      background: #000000;
      top: calc(100% + 5px);
      left: 0;
    }
  }

  .productLevelGroup {
    &:nth-child(1) {
      .productLevelTitle {
        padding-top: 0;
      }
    }
  }

  .productLevelSubMenu {
    margin-top: 10px;
  }

  .productLevelSubMenuItem {
    padding: 5px 0;
    color: #555555;
    transition: 0.3s;

    &:hover {
      text-decoration: underline;
    }
  }
}

.dropdownImageWrapper {
  width: 100%;
  padding-top: 126.38%;
  position: relative;
  outline: 1px solid transparent;
  transition: 0.3s;

  .imageContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .imageInsetShadow {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
      background: linear-gradient(168.47deg, rgba(255, 255, 255, 0) 4.91%, rgba(255, 255, 255, 0) 18.23%, rgba(255, 255, 255, 0) 37.76%, rgba(255, 255, 255, 0.01) 49.93%, rgba(255, 255, 255, 0.32527) 64.73%, rgba(255, 255, 255, 0.65) 79.56%, #FFFFFF 93.54%);
    }
  }

  &:hover {
    outline-color: #000000;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .dropdownImageContent {
    position: absolute;
    left: 0;
    padding: 0 15px;
    width: 100%;
    bottom: 15px;
    color: #000000;
    font-weight: 700;
    text-align: center;
    z-index: 11;
    font-size: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &Wardrobe {
    .dropdownImageDelete {
      top: 0;
      right: 0;
    }
  }

  .uploadFileWrapperEmpty {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed #999999;

    .uploadFileIcon {
      font-size: 42px;
      cursor: pointer;
    }

    button {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
    }
  }

  &:hover {
    outline-color: #000000;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    &:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  .dropdownImageContent {
    position: absolute;
    left: 0;
    bottom: 15px;
    color: #000000;
    font-weight: 700;
    text-align: center;
    width: 100%;
  }
}


.dropdownImageContainer {
  width: 100%;
  display: inline-block;
  cursor: pointer;
  position: relative;

  &.multiImage {
    margin-bottom: 30px;

    .dropdownImageWrapper {
      padding-top: 55.12%;
    }

    &:nth-last-child(1) {
      margin-bottom: 0;
    }
  }
}

.subMenuItemDelete {
  cursor: pointer;
}

.dropdownImageDelete {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drawerMenuItem {
  display: block;
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  width: 100%;
  text-align: left;
  border-bottom: 1px solid #F5F5F5;
  height: 100%;

  &:last-child {
    border-bottom: none;

    .countDown {
      margin-top: 9px;
    }
  }

  &Name {
    text-transform: uppercase;
    padding: 15px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    font-weight: bold;
  }
}

.dropdownImageWrapperPhone {
  width: 100%;
  position: relative;
  outline: 1px solid transparent;
  transition: 0.3s;
  aspect-ratio: 288/100;

  img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
  }

  &Wardrobe {
    .dropdownImageDelete {
      top: 0;
      right: 0;
    }
  }

  .uploadFileWrapperEmptyPhone {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed #999999;

    .uploadFileIconPhone {
      font-size: 42px;
      cursor: pointer;
    }

    button {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
    }
  }

  &:hover {
    outline-color: #000000;
  }
}
