@import "../../../../../../../../assets/scss/variables/variables";
.popup {
  &__content {
    &-title {
      font-size: 14px;
      font-weight: bold;
    }

    &-description {
      font-size: 12px;
    }

    &-product {
      position: relative;
      width: 100%;
      padding-top: 128.4444%;
      z-index: 0;
      max-width: 100%;
      border: 1px solid #D0D0D0;
      display: flex;
      align-items: center;
      justify-content: center;

      .btn-delete {
        z-index: 1;
        background-color: #000000;
      }

      &.empty:hover {
        border: 1px dashed $main-color;

        .popup__content-product {
          &--content.active {
            display: block;

            svg {
              color: $main-color;
            }
          }

          &--empty {
            display: none;
          }
        }
      }

      &s {
        border: 1px solid #999999;
        border-radius: 5px;
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-column-gap: 18px;
        grid-row-gap: 16px;
        width: 100%;
        @media (max-width: 1500px) {
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        .button-add {
          width: 24px;
          height: 24px;
          padding: 0;
        }
      }

      &--image {
        transition: 0.3s;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        object-fit: cover;
      }

      &--name {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #FFFFFF;
        font-weight: 700;
        font-size: 14px;
        width: 100%;
        margin: 0;
        text-align: center;
        padding: 5px 0;
      }

      &--empty {
        transition: 0.3s;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &--content {
        text-align: center;
        display: none;
        transition: 0.3s;

        &.active {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}
