@import "../../../assets/scss/variables/variables";

#overview {
  .guide-item {
    &:first-child {
      .card {
        background-color: rgb(242, 249, 255);
      }
    }

    &:nth-child(3n) {
      .card {
        background-color: rgb(255, 251, 242);
      }
    }

    &:nth-child(2n) {
      .card {
        background-color: rgb(243, 252, 249);
      }
    }

    &__icon {
      width: 60px;
      min-width: 60px;
      height: 60px;
      background-color: $main-color;
      border-radius: 50%;
    }
  }

  .guide-file-item {
    border-top: 1px solid #D0D0D0;

    &:first-child {
      border-top: none;
      border-top: none;
    }

    &__icon {
      padding: 0.5rem;
      width: fit-content;
      border-radius: 50%;
      background-color: $main-color;
    }
  }

  .timeline {
    &-event {
      height: fit-content;
      display: flex;
      flex-direction: column;
      min-height: 1px;

      & > div {
        display: block !important;
      }

      & > p {
        display: none;
      }

      &-time {
        font-size: 14px;
        color: #999999;
      }
    }
  }

  .card-header {
    border-bottom: 1px solid #D0D0D0;
    margin-bottom: 1rem;
  }
}