#galleryProductCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .product {
    &-image {
      width: 100%;
      max-width: 100%;
      position: relative;
      padding: 0 20.5px;
      background-color: #FFFFFF;
      cursor: pointer;
      border: 1px solid #999999;

      .image-wrapper {
        padding-top: 137.5396257286021%;
        position: relative;

        img {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    &-content {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .btn-order {
        img {
          width: 15px;
        }
      }
    }

    &-tag {
      padding: 1px 6px;
      color: #F5F5F5;
      background-color: rgba(0, 0, 0, .6);
      border-radius: 4px;
      display: inline-block;
      font-size: 11px;
      white-space: nowrap;
      margin-bottom: 0;
      margin-right: 6px;
    }

    &-name {
      margin-top: 0;
      color: #222222;
      font-size: 11px;
      margin-bottom: 0;
    }

    &-price {
      margin-top: 3px;
      font-weight: 700;
      font-size: 12px;
      margin-bottom: 0;
    }
  }

  .progress {
    &-order {
      width: 100%;
      margin-top: 7.97px;
    }

    &-bar {
      background-color: #EBEBEB;
      height: 2px;
      width: 100%;
      position: relative;
    }

    &-active {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #222222;
      width: 0;
    }

    &-description {
      font-size: 10px;
      color: rgba(0, 0, 0, 0.7);
      padding-top: 5px;
      line-height: 1.25;
      margin-bottom: 0.5rem;
    }
  }
}