.custom-dataTable {
  .rdt_Table {
    border: 1px solid #555555;
    border-radius: 5px;

    .icdHOq {
      margin: auto;
    }

    &Col, &Cell {
      white-space: nowrap;

      &:last-child {
        justify-content: flex-end;
        margin-right: 20px;
      }
    }

    &Row {
      padding: 4px 25px;
    }
  }

  .promotion-checkbox {
    width: 40px;

    .custom {
      &-control {
        &-label, &-input {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

.data-table__scroll {
  .rdt_Table {
    max-height: 70vh;
    overflow-y: auto;
    min-height: 347px !important;
  }

  .rdt_TableHead {
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
    z-index: 2;
  }
}

.header-table {
  .section-select .select__control {
    background-color: transparent !important;

    .select__single-value, .select__placeholder {
      color: #000000 !important;
    }
  }
}