.modal-category {
  padding: 25px;

  &__image {
    height: 200px;
    width: 200px;
    border: 1px dashed #D0D0D0;

    img.add-image__image {
      width: 100%;
      height: 100% !important;
      object-fit: cover !important;
    }
  }

  &__label {
    font-size: 16px;
    font-weight: 700;
  }

  .add-image {
    width: 150px;
    height: 150px;
    position: relative;

    button {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }
  }

  .btn-delete {
    background-color: #000000;
  }
}

.popup-select-category {
  transform: translate(-50%, 0);
}
