@import "../../../assets/scss/variables/variables";
.container {
  &-check {
    background: transparent;
    box-shadow: none;
    padding: 10px 0;
  }
  &-progress-bar {
    margin: auto auto auto -10px;
    @media (max-width: 768px) {
      display: none;
    }
    .progress-bar {
      &-item {
        width: auto;
        display: block;
        float: left;
        position: relative;

        &:first-child {
          .progress-bar-item-line:nth-child(2) {
            background: transparent;
            width: 46px;
          }
        }

        &:last-child {
          .progress-bar-item-title {
            text-indent: 43px;
          }
        }

        &-title {
          text-align: center;
          margin-bottom: 10px;
          color: #637381;
        }

        &-line {
          width: 50px;
          float: left;
          height: 2px;
          background: #d4d4d4;
          margin: 13px 0 0;

          &.active {
            background: $main-color;
          }
        }

        &-ico {
          width: auto;
          height: 27px;
          float: left;
          border-radius: 100%;
          color: #fff;
          padding: 0;
          align-items: center;
          display: flex;

          &-in {
            display: block;
            width: 20px;
            height: 20px;
            background: #cecece;
            margin: 0 auto;
            border-radius: 100%;
            line-height: 23px;
            font-size: 13px;
            text-align: center;
            border: 1px solid #d4d4d4;

            svg {
              display: none;
            }

            &.active {
              svg {
                display: block;
                margin: 4px auto 0;
              }

              background: $main-color;
              width: 27px;
              height: 27px;
              border: none;
            }
          }
        }
      }
    }
  }
}