.modal-show-column {
  max-width: 900px;
}
.header-column {
  border-bottom: 1px solid !important;
  margin-bottom: 30px;
}
.check-all {
  width: fit-content;
  padding: 10px 1rem;
  border-bottom: 1px solid #999;
  margin-bottom: 15px;
}
.modal-title {
  font-size: 20px;
}