@import "../../../assets/scss/variables/variables";

#userContainer {
  padding: 25px;

  .btn {
    padding: 0.786rem 1.5rem;
  }

  .user__filter {
    &-title {
      font-size: 14px;
    }
  }
}

.user__side-bar {
  .label {
    font-size: 12px;
    font-weight: 600;
  }

  .modal-title {
    font-weight: 600;
    font-size: 16px;
  }
}
.form-control__date {
  &.form-control[readonly] {
    background-color: transparent !important;
  }
}
.filter {
  &-body {
    &--suggest {
      position: relative;

      .popover {
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 3px;
        background-color: #FFFFFF;
        width: 100%;
        max-width: 100%;

        &-body {
          padding: 0;
        }

        .arrow {
          position: absolute;
          top: -6px;
          left: calc(50% - 5px);
          margin: 0;

          &:before {
            border-bottom-color: rgba(0, 0, 0, .25);
          }

          &:after {
            border-bottom-color: #FFFFFF;
          }
        }

        .dropdown {
          &-filter {
            .suggest {
              &-result {
                max-height: 250px;
                overflow-y: auto;
                margin: 0;
              }

              &-select {
                padding: 0 0 0 2px;
                margin-left: -2px;
                transition: .2s;
                cursor: pointer;

                &:hover {
                  background-color: $main-color;
                }
              }

              &-item {
                display: flex;
                align-items: center;
                padding: 3px 20px;

                img {
                  width: 40px;
                  height: 40px;
                }
              }

              &-info {
                padding: 5px;

                .name, .phone {
                  margin-bottom: 0;
                  font-size: 14px;
                }
              }
            }
          }

          &-paginate {
            display: flex;
            justify-content: flex-end;
            border-top: 1px solid #999999;

            .btn {
              &-page {
                cursor: pointer;

                &.disabled {
                  cursor: not-allowed;
                  pointer-events: none;
                }
              }
            }
          }
        }
      }
    }
  }
}