.select-create-at {
  width: 25%;
  @media only screen and (max-width: 1200px) {
    width: 30%;
  }
  @media only screen and (max-width: 768px) {
    width: 50%;
  }

  .select {
    &__menu {
      right: 0;
      width: auto;

      &-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
      }
    }

    &__option {
      white-space: nowrap;
    }
  }
}
