#popupSelectProductContainer {
  max-width: 57.24vw;
  @media (max-width: 768px) {
    max-width: none;
  }

  .popup-select-products {
    &__wrapper {
      padding: 25px;

      &--header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
          font-size: 24px;
        }

        button {
          padding: 0;
        }
      }
    }

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-bottom: 26px;

      &-left {
        display: flex;
        align-items: center;
        @media (max-width: 1300px) {
          margin-bottom: 10px;
        }

        .btn-search {
          margin-left: 20px;
        }

        .select {
          &-option {
            width: 181px;
            margin-right: 5px;
          }

          &__control {
            width: 181px;
          }

          &__menu {
            z-index: 9;
          }
        }

        .form-control {
          min-width: 20.625vw;
          margin-right: 10px;
        }
      }
    }

    &__dataTable {
      margin-top: 10px;

      .promotion-checkbox {
        width: 70px;
      }

      .rdt_Table {
        min-height: 414px;

        .icdHOq {
          margin: auto;
        }

        &Col, &Cell {
          white-space: nowrap;

          &:last-child {
            justify-content: flex-end;
            margin-right: 20px;
          }
        }

        &Row {
          padding: 3px 25px;
        }
      }
    }

    &__actions {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .btn-primary {
        margin-left: 15px;
        width: 92px;
      }
    }
  }

  #bundled {
    .custom-dataTable {
      .form-control {
        height: 30px;
        padding: 0 5px;

        &__range {
          width: 57px;
        }
      }
    }
  }
}
.container-tab {
  @media (max-width: 768px) {
    white-space: nowrap;
    flex-wrap: nowrap;
    overflow-x: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
.section-phone {
  width: 30% !important;
}
