.excel-import-tab {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  &__title {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
  }

  &__button {
    svg {
      margin-right: 5px;
    }
  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    border: 1px dashed #D0D0D0;
    background-color: #FAFAFA;
    border-radius: 0.358rem;
    padding: 0 3rem;
    position: relative;

    &-content {
      text-align: center;

      .body-title {
        margin-bottom: 0.5rem;
      }

      .body-description {
        color: #999999;
        font-size: 12px;
        margin-bottom: 0.5rem;
        line-height: 1.25;
      }

      .btn {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }

    .uppy-DragDrop-container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
    }
  }

  &__modal {

    .link-item {
      color: #7367f0;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    .avatar-success {
      cursor: default;

      .avatar-content {
        width: 52px;
        height: 52px;

        svg {
          stroke-width: 3;
        }
      }
    }

    .avatar-danger {
      cursor: default;

      svg {
        background-color: red;
        border-radius: 50%;
      }
    }

    h1 {
      font-size: 20px;
      margin-top: 1rem;
    }

    th {
      white-space: nowrap;
    }
  }
}
