.profile-info-section {
  border-radius: 5px;
  border: 1px solid #999999;
  background-color: #FFFFFF;

  .profile-avatar {
    position: relative;
    width: fit-content;
    margin: 0 auto;

    .add-image__item-image {
      border-radius: 50%;
      width: 128px;
      min-width: 128px;
      height: 128px;
      overflow: hidden;
      object-fit: cover;
    }

    button {
      opacity: 0;
    }

    .profile-upload-image, button {
      bottom: 0;
      right: 15px;
      position: absolute;
      border-radius: 5px;
      z-index: 9;
      width: 26px !important;
      height: 26px !important;
      cursor: pointer;
      background-color: #FFFFFF;
      border: 1px solid #999999;
    }

    .uppy-DragDrop-label {
      display: none;
    }
  }
}