.modal-config {
  max-width: 60% !important;

  .selected-agent-item {
    padding: 0.75rem 10px;

    &:nth-child(2n + 1) {
      background-color: #F5F5F5;
    }
  }

  .btn-delete-agent {
    padding: 0.25rem;
  }

  .config-agent-border {
    border-radius: 4px;
    border: 1px solid #EDEDED;
  }

  .config-container-time {
    margin: 0 1rem 1rem;
    padding: 1rem;
    border: 1px solid;
    border-radius: 4px;

    .timer {
      border-bottom: 3px solid #8d6752;
      width: fit-content;
      margin-bottom: 15px;
    }

    .timer-label {
      color: #8d6752;
      font-weight: bold;
      font-size: 16px;
    }

    &__item {
      border: 1px solid #000000;
      text-align: center;
      padding: 10px;
      border-radius: 6px;
      cursor: pointer;
      margin: 0 0 10px;
      transition: .3s;

      &:hover {
        border-color: rgba(141, 103, 82, 0.36);
        background: rgba(141, 103, 82, 0.36);
      }

      &.active {
        border-color: #8d6752;
        background: #8d6752;
        color: #ffffff;
      }
    }
  }
}
