@import "../../../../assets/scss/variables/variables";
.product-detail {
  color: #000000 !important;

  &--contain {
    margin-bottom: 25px;

    &__info {
      margin-bottom: 10px;

      p {
        font-size: 12px;
        font-weight: bold;
      }
    }
  }

  &--title {
    color: #000000;
    font-size: 16px !important;
    font-weight: 600 !important;
    margin-bottom: 10px;

    &____detail {
      font-size: 14px;
    }
  }

  &--name {
    color: #000000;
    font-size: 14px;
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #999999;
    padding: 0 20px;
    height: 35px;
  }

  &--contain-image {
    padding: 10px;
    border: 1px solid #999999;
    box-sizing: border-box;
    min-height: 135px;

    .image-first {
      .image {
        width: 177px;
        height: 177px;
      }
    }

    .image-still {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-row-gap: 10px;
      grid-column-gap: 10px;
      width: 100%;

      .image {
        width: 100%;
        height: 142px;
      }
    }

    .image {
      position: relative;
      width: 117px;
      height: 150px;
      margin-right: 10px;

      &:hover {
        .btn-delete {
          opacity: 1;
          visibility: visible;
          transition: .3s;
        }
      }

      .img {
        border: 1px solid #D0D0D0;
        box-sizing: border-box;
        object-fit: cover;
        object-position: top;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
      }

      .btn-delete {
        top: -8px;
        right: -8px;
        width: 19px;
        height: 19px;
        position: absolute;
        display: flex;
        cursor: pointer;
        border-radius: 50%;
        background: #CE0808;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
      }
    }
  }

  &--add-image {
    position: relative;
    color: $main-color;
    cursor: pointer;

    .uppy {
      &-DragDrop {
        &--isDragDropSupported {
          background: none;
          border: none;

          &:active, &:focus {
            outline: none;
          }
        }

        &-arrow {
          display: none;
        }

        &-label {
          color: $main-color;
        }
      }
    }

    .input-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      bottom: 0;
      opacity: 0;
      cursor: pointer;
    }
  }

  &--size {
    text-align: center;
    border-radius: 11px;
    box-sizing: border-box;
    padding: 2px;
    width: 70px;
    font-size: 12px;
    font-weight: bold;
    margin-right: 18px;
    border: 1px solid #777777;
  }

  &--color {
    text-align: center;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    box-sizing: border-box;
    padding: 2px 10px;
    border: 1px solid #777777;

    &-wrapper {
      position: relative;
      margin-right: 10px;

      .btn-color-delete {
        background-color: #CE0808;
        display: inline-flex;
        border-radius: 50%;
        position: absolute;
        top: -2px;
        right: -2px;
        cursor: pointer;
      }
    }
  }

  &--tabs {
    display: flex;
    margin-bottom: 15px;
  }

  &--item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    .css-2b097c-container {
      width: 100%;
    }

    .name {
      min-width: 120px;
    }

    @media (max-width: 1680px) {
      max-width: 320px;
      //width: calc(100% / 2);
    }
    @media (max-width: 1440px) {
      display: block;
      .name {
        margin-bottom: 5px;
      }
    }

    .option {
      color: #000000;
      width: 178px;
      border: 1px solid #999999;
      box-sizing: border-box;
      font-size: 14px;
      border-radius: 5px;
      height: 25px;
      line-height: normal;

      .select {
        &__control {
          border: 1px solid #999999;
          box-sizing: border-box;
          border-radius: 5px;

          .select__value-container {
            .select__single-value {
              font-size: 14px !important;
              transform: translateY(-50%);
            }
          }
        }
      }

      &-title {
        font-size: 16px;
      }
    }

    select.form-control.form-control-sm {
      background-position: calc(100% - 12px) 8px, calc(100% - 20px) 6px, 100% 0;
    }

    select.form-control:not([multiple='multiple']) {
      background-image: url("../../../../assets/images/icons/icons/ic_dropdown.svg");
      background-size: 10px;
    }

    .name {
      display: flex;
      align-items: center;
      white-space: nowrap;
      font-size: 14px;
      font-weight: 600;
    }

    .info-product {
      border: 1px solid #bdbdbd;
      border-radius: 5px;
      width: 100%;
      padding: 10px;
    }
  }

  .rdw {
    &-editor {
      &-toolbar {
        background-color: #f8f8f8;
      }

      &-wrapper {
        .rdw-editor-toolbar {
          border-color: black;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }

        .rdw-editor-main {
          border: 1px solid #999999;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }

    &-option-wrapper {
      background: transparent;
    }
  }
}

.table-product {
  thead {
    color: #2B2B2B;
    white-space: nowrap;

    th {
      border-bottom: 1px solid #D0D0D0;
      text-transform: none;
      font-size: 16px;
      font-weight: 600;
      padding: 4px 1rem;
    }
  }

  tbody {
    td {
      white-space: nowrap;
      color: #333333;
      font-size: 16px;
      border-bottom: 1px solid #D0D0D0;
      padding: 4px 1rem;
      cursor: pointer;

      .table-img {
        width: 39px;
        height: 52px;
        margin: auto;

        img {
          object-fit: cover;
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }

  &.table:not(.table-dark):not(.table-light) thead:not(.thead-dark) th, [dir] .table:not(.table-dark):not(.table-light) tfoot:not(.thead-dark) th {
    background: transparent;
  }

  &.table th {
    border-top: none;
  }
}

.product-variant-table {
  max-height: 580px;
  overflow: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.tabs-product {
  &-info {
    margin-bottom: 0;

    .nav-item {
      border: 1px solid #999999;
      border-bottom: none;
    }
  }

  &-detail {
    border: 1px solid #999999;
    padding: 35px 20px !important;
  }
}

.empty {
  user-select: none;
  margin: -10px;
  width: calc(100% + 20px);
  background-color: #f6f6f6;

  &-image {
    text-align: center;
    margin: auto;
    font-size: 16px;
    opacity: .5;

    .img-contain {
      max-height: 100px;
    }

    .img-delete {
      background: #000000;
    }
  }
}

.video-contain {

  display: flex;

  .video {
    width: 100% !important;
    height: 300px !important;
  }
}

.btn-edit {
  color: $main-color;
  cursor: pointer;
}

.image-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  @media (max-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .rounded {
    .image {
      width: 100%;
      height: auto;

      img {
        max-height: 100%;
        max-width: 100%;
      }
    }
  }

  .icon-delete {
    background: #CE0808;
  }
}

.input-add-item {
  display: flex;

  .name {
    font-size: 16px;
    white-space: nowrap;
    color: #000000;
    margin-right: 10px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
  }

  .css-2b097c-container {
    width: 100%;
  }
}

#productDetail {
  .product-detail--color-contain {
    flex-wrap: wrap;

    .product-detail--color {
      white-space: nowrap;
      margin-bottom: 10px;
    }
  }

  .position-options {
    min-width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    bottom: 0;

    .select {
      &__indicator {
        display: none;
      }

      &__control {
        width: 100%;
        height: 100%;
        min-height: 100%;
        background-color: #F5F5F5;
      }

      &__value-container {
        padding: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &__single-value {
        margin: 0;
        max-width: 100%;
      }

      &__menu {
        padding: 0;
        margin: 0;
      }

      &__option {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .css-b8ldur-Input {
      margin: 0;
      padding: 0;
    }

    .react-select__position {
      width: 100%;
      height: 100%;
    }
  }

  .dataTable-history {
    border-radius: 0.428rem;

    .rdt_Table {
      border: 1px solid #000000;

      .icdHOq {
        border-radius: 0.428rem;
      }
    }
  }

  .product-detail {
    &--image {
      &-product {
        display: grid;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
      }

      &__rounded {
        .image {
          width: 100%;

          img {
            max-height: 100%;
            max-width: 100%;
          }
        }
      }
    }

    &__video {
      &-rounded {
        .video {
          &:hover ~ .btn-delete {
            display: flex;
          }
        }

        .btn-delete {
          position: absolute;
          top: -5px;
          right: -5px;
          display: none;
          align-items: center;
          justify-content: center;
          background-color: #CE0808;
          border-radius: 50%;
          cursor: pointer;

          &:hover {
            display: flex;
          }

          img {
            width: 19px;
            height: 19px;
          }
        }
      }
    }
  }
}

#productDetailSlider {
  .product-detail--contain-image {
    display: flex;
    align-items: center;
  }
}